@import "../../src/email-input";

#email-inputs {
  width: 500px;
  margin: 0 auto;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

.heading {
  margin: 15px 40px;
}

.card {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 600px;
}

.input-component-wrapper {
  background-color: #F8F8F7;
  padding: 18px 0;
}

.action-buttons{
  width: 522px;
  margin: 0 auto;
  padding: 18px 0;
  button{
    background-color: #4262FF;
    border-radius: 6px;
    color: #fff;
    height: 40px;
    font-size: 14px;
    padding: 6px 15px;
  }
}